$abi:#27bec4;
$narengi:#ff6a37;
$khakestry:#aeaeae;
.single {
    width: 100%;
    min-height: 100px;
    overflow: hidden;
    .center {
        width: 1024px;
        min-height: 100px;
        overflow: hidden;
        margin: 0 auto;
        .content {
            width: 700px;
            min-height: 100px;
            overflow: hidden;
            float: right;
            margin: 30px 0;
            .cover {
                width: 700px;
                min-height: 100px;
                overflow: hidden;
                position: relative;
                .bigcover {
                    width: 700px;
                    height: 150px;
                    float: right;
                }
                .smallwidth {
                    width: 116px;
                    height: 116px;
                    border-radius: 15px;
                    border: 2px solid #ffffff;
                    position: absolute;
                    top: 70px;
                    right: 25px;
                }
                .infromation {
                    width: 700px;
                    height: 90px;
                    overflow: hidden;
                    float: right;
                    margin-top: 10px;
                    .header {
                        width: 698px;
                        height: 53px;
                        border: 1px solid #dfdfdf;
                        background-color: #ffffff;
                        overflow: hidden;
                        h1 {
                            font-size: 10pt;
                            float: right;
                            margin: 15px 170px 0 0;
                            color: #6c6c6c;
                        }
                        .btnBuy {
                            width: 100px;
                            height: 28px;
                            float: left;
                            background-color: $abi;
                            color: #ffffff;
                            border-radius: 10px;
                            text-align: center;
                            display: block;
                            font-size: 10pt;
                            cursor: pointer;
                            transition: 500ms;
                            margin: 10px 0 0 15px;
                            &:hover {
                                background-color: $narengi;
                            }
                        }
                        p.price {
                            float: left;
                            margin: 10px 0 0 10px;
                            .disprice {
                                color: $khakestry;
                                text-decoration: line-through;
                                font-size: 8pt;
                            }
                            .price {
                                color: $abi;
                                font-size: 11pt;
                                font-weight: bolder;
                                transition: 500ms;
                                cursor: pointer;
                                &:hover {
                                    color: $narengi;
                                }
                            }
                        }
                    }
                    .footer {
                        width: 698px;
                        height: 35px;
                        background-color: #e1e1e1;
                        border: 1px solid #dfdfdf;
                        overflow: hidden;
                        .ganer {
                            float: right;
                            margin: 5px 10px 0 0;
                            color: #767676;
                            font-size: 9pt;
                            strong {
                                font-size: 10pt;
                            }
                        }
                        .date {
                            float: right;
                            margin: 5px 10px 0 0;
                            color: #767676;
                            font-size: 9pt;
                            strong {
                                font-size: 10pt;
                            }
                        }
                        .rate {
                            float: left;
                            margin: 5px 0 0 10px;
                            .chart {
                                width: 60px;
                                height: 15px;
                                border: 1px solid #d0d0d0;
                                float: left;
                                .chartValue {
                                    height: 10px;
                                    margin: 2.5px;
                                    background-color: $narengi;
                                    float: left;
                                }
                            }
                            p {
                                float: left;
                                margin: -5px 0 0 5px;
                                direction: ltr;
                                .orange {
                                    font-size: 11pt;
                                    font-weight: bolder;
                                    color: $narengi;
                                }
                                .gray {
                                    font-size: 8pt;
                                    color: $khakestry;
                                }
                            }
                        }
                    }
                }
            }
            .feature {
                width: 698px;
                height: 37px;
                margin: 10px 0 0 0;
                overflow: hidden;
                color: #787878;
                overflow: hidden;
                ul {
                    list-style: none;
                    li {
                        width: 161.11px;
                        height: 35px;
                        float: right;
                        background-color: #ffffff;
                        border: 1px solid #dfdfdf;
                        margin-right: 15px;
                        position: relative;
                        &::after {
                            width: 15px;
                            height: 15px;
                            content: "";
                            position: absolute;
                            top: 9px;
                            right: 9px;
                            background-image: url(../picture/tik.png);
                        }
                        span {
                            font-size: 10pt;
                            display: block;
                            margin: 5px 30px 0 0;
                        }
                        &:first-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            .fullText {
                width: 648px;
                min-height: 100px;
                padding: 25px;
                border: 1px solid #dfdfdf;
                background-color: #ffffff;
                color: #6f6f6f;
                margin-top: 15px;
            }
            .suggest {
                width: 698px;
                height: 370px;
                border: 1px solid #dfdfdf;
                background-color: #ffffff;
                margin-top: 15px;
                position: relative;
                .header {
                    width: 698px;
                    height: 91px;
                    overflow: hidden;
                    position: relative;
                    float: right;
                    background-image: url(../picture/bigStar.png);
                    background-repeat: no-repeat;
                    background-position: right;
                    margin: 0;
                    .icon {
                        width: 40px;
                        height: 40px;
                        background-image: url(../picture/star.png);
                        margin: 28px 28px 0 0;
                        float: right;
                    }
                    h6 {
                        width: 508px;
                        font-size: 13pt;
                        font-weight: normal;
                        margin: 30px 10px 0 0;
                        float: right;
                    }
                    p {
                        font-size: 10pt;
                        font-weight: bolder;
                        color: $narengi;
                        margin: 0 10px 0 0;
                        float: right;
                        display: block;
                    }
                    span {
                        position: absolute;
                        top: 30px;
                        left: 30px;
                        color: #e6e6e6;
                        letter-spacing: 15px;
                        font-size: 16pt;
                    }
                }
                .slider {
                    width: 698px;
                    height: 280px;
                    z-index: 10000000000000;
                    .groupbox {
                        width: 630px;
                        height: 256px;
                        position: relative;
                        margin: 2px 34px 0 0;
                        .next {
                            width: 30px;
                            height: 80px;
                            position: absolute;
                            top: 100px;
                            right: -15px;
                            background-color: #ffffffb0;
                            overflow: hidden;
                            z-index: 999999;
                            box-shadow: 0 0 5px 0 #5f5f5f;
                            cursor: pointer;
                            display: none;
                            .icon {
                                width: 14px;
                                height: 23px;
                                background-image: url(../picture/btn3.png);
                                margin: 29.5px 9px 0 0;
                            }
                        }
                        &:hover .next {
                            display: inline;
                        }
                        .prev {
                            width: 30px;
                            height: 80px;
                            position: absolute;
                            top: 100px;
                            left: -15px;
                            background-color: #ffffffb0;
                            overflow: hidden;
                            z-index: 999999;
                            box-shadow: 0 0 5px 0 #5f5f5f;
                            cursor: pointer;
                            display: none;
                            .icon {
                                width: 14px;
                                height: 23px;
                                background-image: url(../picture/btn4.png);
                                margin: 29.5px 9px 0 0;
                            }
                        }
                        &:hover .prev {
                            display: inline;
                        }
                        ul {
                            list-style: none;
                            li {
                                float: right;
                                width: 194.8px;
                                height: 270px;
                                background-color: #ffffff;
                                border: 1px solid #dfdfdf;
                                margin-right: 19.8px;
                                &:first-child {
                                    margin-right: 0;
                                }
                                .image {
                                    width: 182.8px;
                                    height: 180px;
                                    overflow: hidden;
                                    margin: 6px;
                                    position: relative;
                                    &:hover .hoverbox {
                                        top: 0;
                                        right: 0;
                                    }
                                    .hoverbox {
                                        width: 182.8px;
                                        height: 180px;
                                        overflow: hidden;
                                        background-color: #0505059d;
                                        position: absolute;
                                        top: 180px;
                                        right: 182.8px;
                                        transition: 700ms;
                                        .childIcon {
                                            display: block;
                                            width: 20px;
                                            height: 20px;
                                            float: right;
                                            margin: 80px 10px 0 0;
                                            i {
                                                transition: 500ms;
                                            }
                                            &:hover i {
                                                transform: scale(1.6);
                                            }
                                            &:hover .more {
                                                background-image: url(../picture/more-hover.png);
                                            }
                                            &:hover .addCard {
                                                background-image: url(../picture/addbag-hover.png);
                                            }
                                            &:hover .like {
                                                background-image: url(../picture/like-hover.png);
                                            }
                                            .more {
                                                display: block;
                                                width: 20px;
                                                height: 20px;
                                                background-image: url(../picture/more.png);
                                            }
                                            .addCard {
                                                display: block;
                                                width: 20px;
                                                height: 20px;
                                                background-image: url(../picture/addbag.png);
                                            }
                                            .like {
                                                display: block;
                                                width: 20px;
                                                height: 20px;
                                                background-image: url(../picture/like.png);
                                            }
                                        }
                                        .childIcon1 {
                                            margin-right: 51.4px;
                                        }
                                    }
                                    img {
                                        width: 182.8px;
                                        height: 180px;
                                    }
                                }
                                .title {
                                    width: 182.8px;
                                    display: block;
                                    color: #898989;
                                    margin: 6px;
                                    overflow: hidden;
                                    transition: 500ms;
                                    &:hover {
                                        color: $abi;
                                        transform: scale(1.1);
                                    }
                                    h6 {
                                        text-align: center;
                                    }
                                }
                                p {
                                    text-align: center;
                                    transition: 500ms;
                                    &:hover {
                                        transform: scale(1.2);
                                    }
                                    &:hover .price {
                                        color: $narengi;
                                    }
                                    .disprice {
                                        color: #898989;
                                        font-size: 8pt;
                                        text-decoration: line-through;
                                    }
                                    .price {
                                        color: $abi;
                                        font-size: 8pt;
                                    }
                                }
                                .moderIcon {
                                    display: block;
                                    width: 20px;
                                    height: 20px;
                                    float: right;
                                    margin: 5px 10px 0 0;
                                    .more {
                                        display: block;
                                        width: 20px;
                                        height: 20px;
                                        background-image: url(../picture/more.png);
                                    }
                                    .addCard {
                                        display: block;
                                        width: 20px;
                                        height: 20px;
                                        background-image: url(../picture/addbag.png);
                                    }
                                    .like {
                                        display: block;
                                        width: 20px;
                                        height: 20px;
                                        background-image: url(../picture/like.png);
                                    }
                                    i {
                                        transition: 500ms;
                                    }
                                    &:hover i {
                                        transform: scale(1.3);
                                    }
                                    &:hover .more {
                                        background-image: url(../picture/more-hover.png);
                                    }
                                    &:hover .addCard {
                                        background-image: url(../picture/addbag-hover.png);
                                    }
                                    &:hover .like {
                                        background-image: url(../picture/like-hover.png);
                                    }
                                }
                                .moderIcon1 {
                                    margin-right: 51.4px;
                                }
                            }
                        }
                    }
                }
            }
            .comment {
                width: 698px;
                min-height: 100px;
                background-color: #ffffff;
                border: 1px solid #dfdfdf;
                color: #6f6f6f;
                margin-top: 15px;
                .header {
                    width: 698px;
                    height: 100px;
                    overflow: hidden;
                    position: relative;
                    background-image: url(../picture/bigcomment.png);
                    background-repeat: no-repeat;
                    background-position: right;
                    margin: 0;
                    .icon {
                        width: 35px;
                        height: 33px;
                        background-image: url(../picture/comment.png);
                        margin: 28px 28px 0 0;
                        float: right;
                    }
                    h6 {
                        width: 500px;
                        font-size: 13pt;
                        font-weight: normal;
                        margin: 30px 10px 0 0;
                        float: right;
                    }
                    p {
                        font-size: 10pt;
                        font-weight: bolder;
                        color: $abi;
                        margin: 0 10px 0 0;
                        float: right;
                    }
                    span {
                        position: absolute;
                        top: 30px;
                        left: 30px;
                        color: #e6e6e6;
                        letter-spacing: 15px;
                        font-size: 16pt;
                    }
                }
                .list {
                    width: 698px;
                    min-height: 50px;
                    ul {
                        list-style: none;
                        li {
                            width: 650px;
                            min-height: 50px;
                            overflow: hidden;
                            margin: 0 24px 10px 0;
                            .commentText {
                                width: 630px;
                                min-height: 50px;
                                //float: right;
                                background-color: #f5f5f5;
                                padding: 10px;
                                .head {
                                    strong {
                                        color: $narengi;
                                        font-size: 10pt;
                                        float: right;
                                        font-weight: bolder;
                                    }
                                    span {
                                        font-size: 9pt;
                                        float: left;
                                        display: block;
                                    }
                                }
                                .text {
                                    font-size: 10pt;
                                    text-align: justify;
                                }
                            }
                            .respons {
                                width: 630px;
                                min-height: 50px;
                                overflow: hidden;
                                padding: 10px;
                                strong {
                                    font-size: 10pt;
                                    float: right;
                                    font-weight: bolder;
                                }
                                p {
                                    font-size: 10pt;
                                }
                            }
                        }
                    }
                }
            }
        }
        .sidebar {
            width: 300px;
            min-height: 100px;
            overflow: hidden;
            float: left;
            margin: 30px 24px 30px 0;
            .system {
                width: 298px;
                min-height: 100px;
                background-color: #ffffff;
                border: 1px solid #dfdfdf;
                margin: 0 0 20px 0;
                position: relative;
                .title {
                    width: 298px;
                    height: 100px;
                    float: right;
                    p {
                        margin: 20px 140px 0 0;
                    }
                }
                .list {
                    width: 298px;
                    min-height: 100px;
                    ul {
                        list-style: none;
                        li {
                            width: 268px;
                            height: 35px;
                            margin: 0px 15px 15px 0;
                            overflow: hidden;
                            .subject {
                                width: 50px;
                                height: 35px;
                                background-color: #aeaeae;
                                float: left;
                                span {
                                    text-align: center;
                                    color: #ffffff;
                                    font-size: 12pt;
                                    float: left;
                                    display: block;
                                    margin: 7px 0 0 7px;
                                }
                            }
                            .value {
                                width: 211px;
                                height: 33px;
                                margin: 0 0 0 5px;
                                float: left;
                                border: 1px solid #eeeeee;
                                span {
                                    font-size: 9pt;
                                    color: #7d7d7d;
                                    display: block;
                                    margin: 7px 0 0 5px;
                                    direction: ltr !important;
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
            }
            .orange {
                .title {
                    p {
                        color: $narengi;
                    }
                }
                &::after {
                    width: 122px;
                    height: 85px;
                    position: absolute;
                    content: "";
                    top: 11px;
                    right: 11px;
                    background-image: url(../image/orangeicon.png);
                }
            }
            .blue {
                .title {
                    p {
                        color: $abi;
                    }
                }
                &::after {
                    width: 122px;
                    height: 85px;
                    position: absolute;
                    content: "";
                    top: 11px;
                    right: 11px;
                    background-image: url(../image/blueicon.png);
                }
            }
            .newslatter {
                width: 298px;
                height: 200px;
                background-color: #ff6a37;
                float: left;
                img {
                    width: 89px;
                    height: 47px;
                    margin: 10px 104.5px 10px 104.5px;
                }
                p {
                    width: 178px;
                    height: 27px;
                    color: #ffffff;
                    font-size: 6pt;
                    text-align: center;
                    margin: 10px 60px 0 0;
                    font-weight: 550;
                }
                form {
                    width: 180px;
                    height: 20px;
                    background-color: #e55f31;
                    margin: 10px 59px;
                    border-radius: 5px;
                    position: relative;
                    input[type=email] {
                        width: 144px;
                        height: 20px;
                        background-color: #e55f31;
                        float: right;
                        color: #ffffff;
                        text-align: center;
                        float: left;
                        margin-left: 28px;
                        &::placeholder {
                            color: #dfdfdf;
                            font-size: 8pt;
                            margin-left: 0px;
                        }
                    }
                    &::after {
                        content: "";
                        width: 1px;
                        height: 8px;
                        top: 6px;
                        left: 25px;
                        background-color: #ffffff;
                        position: absolute;
                    }
                    &::before {
                        content: "";
                        width: 11px;
                        height: 9px;
                        top: 6px;
                        left: 9px;
                        background-image: url(../picture/emailwhite.png);
                        position: absolute;
                    }
                    input[type=submit] {
                        width: 100px;
                        height: 20px;
                        background-color: #ffffff;
                        float: right;
                        color: #7c7979;
                        font-weight: 500;
                        margin: 6px 40px 0px 40px;
                        border-radius: 2px;
                        cursor: pointer;
                    }
                }
            }
            .namad {
                width: 296px;
                min-height: 146px;
                margin: 10px 0 0 0;
                background-color: #ffffff;
                border: 1px solid #dfdfdf;
                float: left;
                img {
                    margin: 10px 17px 17px 0;
                }
            }
            .ads {
                width: 296px;
                height: 288;
                background-color: #ffffff;
                border: 1px solid #dfdfdf;
                float: left;
                margin: 15px 0 0 0;
                a {
                    img {
                        width: 120px;
                        height: 240px;
                        margin: 15px 19.33px 0 0;
                        float: right;
                    }
                }
            }
        }
    }
}